<div class="landing-page">
  <h1 class="app-title mat-headline-4" appResolveAppHeaderDisplay>{{ title }}</h1>
  <div class="app-features" appResolveAppHeaderDisplay>
    <ng-container *ngFor="let feature of features; let last = last">
      <a mat-button
        routerLink="/{{feature.toLocaleLowerCase()}}">
        {{ feature }}
    </a>
    </ng-container>
  </div>
  
  <div class="feature-container">
    <router-outlet></router-outlet>
  </div>

  <app-footer class="footer"></app-footer>
</div>  