.records-container {
  width: 100%;
  min-height: 20rem;
  max-height: 29.9rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em; 
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 1rem;
}

.no-records {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background: white;
  width: 80%;
  border-radius: 20px;
}

.light-grey-bg {
  background-color: #FAFAFA;
}