.page-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.records-container {
  width: 85%;
  min-height: 20rem;
  max-height: 29.9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em; 
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0rem 2rem 2rem 1rem;
}

.no-records {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background: white;
  width: 80%;
  border-radius: 20px;
}

.light-grey-bg {
  background-color: #FAFAFA;
}