.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.btn {
  background: transparent;
  border: none;
}

.back {
  padding-top: 0.6rem;
  padding-left: 0.5rem;
  color: #5f6368;

  &:hover {
    cursor: pointer;
  }
}

.view-record {
  padding: 0 2rem 2rem 1rem;
  width: 80%;
}

.title {
  margin-bottom: 0;
}

.section-heading {
  margin-top: 2rem;
  font-weight: 800;
}