
<h1 class=" mat-headline-4">title</h1>

<ng-container *ngFor="let emotionRecord of emotionRecords">
  <app-emotion-details-chip [emotionRecord]="emotionRecord"></app-emotion-details-chip>
</ng-container>

<h3 class="mat-subtitle-1">Situation</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto deleniti rem distinctio, numquam impedit tempore, dolore nobis omnis accusantium beatae soluta. Magnam molestiae nihil repudiandae maxime facilis delectus est id.</p>

<h3 class="mat-subtitle-1">Thoughts</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto deleniti rem distinctio, numquam impedit tempore, dolore nobis omnis accusantium beatae soluta. Magnam molestiae nihil repudiandae maxime facilis delectus est id.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto deleniti rem distinctio, numquam impedit tempore, dolore nobis omnis accusantium beatae soluta. Magnam molestiae nihil repudiandae maxime facilis delectus est id.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto deleniti rem distinctio, numquam impedit tempore, dolore nobis omnis accusantium beatae soluta. Magnam molestiae nihil repudiandae maxime facilis delectus est id.</p>
