
<h1 class=" mat-headline-4">title</h1>

<ng-container *ngFor="let emotionRecord of emotionRecords">
  <app-emotion-details-chip [emotionRecord]="emotionRecord"></app-emotion-details-chip>
</ng-container>

<section>
  <h3 class="mat-subtitle-1 section-heading">Situation</h3>
  <p class="mat-body">{{ situation }}</p>
</section>

<section>
  <h3 class="mat-subtitle-1 section-heading">Thoughts</h3>
  <ul>
    <li *ngFor="let thought of thoughts">
      <p class="mat-body">{{ thought }}</p>
    </li>
  </ul>
</section>
