<app-step *ngIf="step === addEmotionStep.SELECT_CORE">
  <ng-container headline>{{ addEmotionHeadlineText[addEmotionStep.SELECT_CORE] }}</ng-container>
  <div body class="emotions-container">
    <app-emotion-card 
      *ngFor="let emotion of coreEmotions"
      [emotion]="emotion"
      (click)="proceedToNextStep(addEmotionStep.SELECT_SPECIFIC, emotion)">
    </app-emotion-card>
  </div>
</app-step>

<app-step *ngIf="step === addEmotionStep.SELECT_SPECIFIC">
  <ng-container headline>{{ addEmotionHeadlineText[addEmotionStep.SELECT_SPECIFIC] }}</ng-container>
  
  <div body class="flex-half-gap">
    <app-emotion-card class="core-emotion-selection" [emotion]="this.selectedCore" [isSelected]="true"></app-emotion-card>
    
    <div class="flex-wrap-half-gap">
      <app-emotion-card 
        *ngFor="let emotion of specificEmotions"
        [emotion]="emotion"
        (click)="proceedToNextStep(addEmotionStep.SELECT_FINE_GRAINED, emotion)">
      </app-emotion-card>
    </div>
  </div>

  <div footer class="btn-container">
    <button mat-raised-button color="warn" class="btn"
      (click)="proceedToNextStep(addEmotionStep.RATE)">No</button>
  </div>
</app-step>

<app-step *ngIf="step === addEmotionStep.SELECT_FINE_GRAINED">
  <ng-container headline>{{ addEmotionHeadlineText[addEmotionStep.SELECT_FINE_GRAINED] }}</ng-container>
  
  <div body class="flex-half-gap">
    <app-emotion-card [emotion]="this.selectedCore" [isSelected]="true"></app-emotion-card>
    <app-emotion-card class="flex-wrap-half-gap" [emotion]="this.specificEmotion" [isSelected]="true"></app-emotion-card>

    <div class="flex-wrap-half-gap">
      <app-emotion-card 
        *ngFor="let emotion of fineGrainedEmotions"
        [emotion]="emotion"
        (click)="proceedToNextStep(addEmotionStep.RATE, emotion)">
      </app-emotion-card>
    </div>
  </div>

  <div footer class="btn-container">
    <button mat-raised-button color="warn" class="btn"
    (click)="proceedToNextStep(addEmotionStep.RATE)">No</button>
  </div>
</app-step>

<app-step *ngIf="step === addEmotionStep.RATE">
  <ng-container headline>{{ addEmotionHeadlineText[addEmotionStep.RATE](identifiedEmotion) }}</ng-container>
  <div body class="rating-container mt-4">
    <mat-slider min="0" max="100" step="5" showTickMarks discrete>
      <input matSliderThumb>
    </mat-slider>
  </div>
  <div footer class="btn-container">
    <button mat-raised-button color="primary" class="btn"
      (click)="proceedToNextStep(addEmotionStep.ADD_MORE_EMOTION)">Next</button>
  </div>
</app-step>


<app-step *ngIf="step === addEmotionStep.ADD_MORE_EMOTION">
  <ng-container headline>{{ addEmotionHeadlineText[addEmotionStep.ADD_MORE_EMOTION] }}</ng-container>
  <div body class="yes-no-container mt-4">
    <button mat-raised-button color="primary" class="card-btn"
     (click)="proceedToNextStep(addEmotionStep.SELECT_CORE)">Yes</button>
     <button mat-raised-button color="warn" class="card-btn"
     (click)="proceedToNextStep(addEmotionStep.DONE_ADDING_EMOTION)">No</button>
  </div>
</app-step>

<app-step *ngIf="step === addEmotionStep.DONE_ADDING_EMOTION">
  <ng-container headline>{{ addEmotionHeadlineText[addEmotionStep.DONE_ADDING_EMOTION] }}</ng-container>
  <div body class="yes-no-container mt-4">
    <p>{{ identifiedEmotion }}</p>
    <button mat-raised-button color="primary" class="card-btn"
     (click)="proceedToNextStep(addEmotionStep.SELECT_CORE)">Yes</button>
     <button mat-raised-button color="warn" class="card-btn"
     (click)="proceedToNextStep(addEmotionStep.DONE_ADDING_EMOTION)">No</button>
  </div>
</app-step>


